@charset "UTF-8";

h1 {
	text-align:center;
}
input, button, form>div {
	font-size:15px; height:40px; width:250px;
}
#login {
	background-color:#9cd3f7; border:0;
}
form>span { 
	display:inline-block; text-align:left; font-size:13px;
}
section>form>span>a { 
	text-decoration:underline; color:blue;
}
input[type="checkbox"] {
	width:15px; height:15px;
	}
input[type="button"]:hover {
	cursor:pointer;
}
